<footer id="footer" style="margin: 0 30px">
  <div class="section-title" style="position: relative">
    <a href="mailto:sergioallushaj@gmail.com" id="emailLink" class="email">
      LET'S TALK
    </a>
    <div id="customCursor" class="custom-cursor">SEND EMAIL</div>
  </div>
  <div class="line"></div>
  <div class="footer-socials">
    <p>
      Now that you’re here, why not reach out? Explore my socials and email
      <br />
      address. If you have a collaboration idea or a cool new concept, don’t
      <br />
      hesitate to drop me a message. I’d love to hear from you! <br />
    </p>
    <div class="social-links">
      <a href="https://www.linkedin.com/in/sergio-allushaj-a92b9717a/">
        LINKEDIN
      </a>
      <a href=""> DOWNLOAD.CV </a>
    </div>
  </div>
  <span>DESIGNED AND DEVELOPED BY ALLUSHAJ SERGIO</span>
</footer>

<style>
  /* Custom tooltip style */
  .custom-cursor {
    position: absolute;
    background-color: black;
    color: white;
    padding: 20px;
    border: 1px solid white;
    font-size: 1.3rem;
    white-space: nowrap;
    pointer-events: none;
    display: none;
    z-index: 1000;
  }

  #emailLink:hover {
    cursor: none;
  }
</style>

<script>
  const link = document.getElementById("emailLink");
  const customCursor = document.getElementById("customCursor");

  link.addEventListener("mouseover", () => {
    customCursor.style.display = "block";
  });

  link.addEventListener("mousemove", (e) => {
    // Adjust the position relative to the parent element
    const rect = link.getBoundingClientRect();
    customCursor.style.left = e.clientX - rect.left + "px";
    customCursor.style.top = e.clientY - rect.top + "px";
  });

  link.addEventListener("mouseout", () => {
    customCursor.style.display = "none";
  });
</script>
