<footer id="footer" class="blocco">
  <a href="mailto:sergioallushaj@gmail.com" id="emailLink" class="email">
    sergioallushaj@gmail.com
  </a>
  <div class="social-links">
    <a href="https://www.linkedin.com/in/sergio-allushaj-a92b9717a/">
      LINKEDIN
    </a>
    <a class="link" href="https://github.com/kuroiokami89"> GITHUB </a>
    <a class="link" href="assets/CV ALLUSHAJ SERGIO (ITA).pdf">
      DOWNLOAD.CV ITA
    </a>
    <a class="link" href="assets/ALLUSHAJ SERGIO CV 2024.pdf">
      DOWNLOAD.CV ENG
    </a>
  </div>
</footer>
