<footer id="footer" style="margin: 0 30px">
  <div class="section-title" style="position: relative">
    <a href="mailto:sergioallushaj@gmail.com" id="emailLink" class="email">
      LET'S TALK
    </a>
    <div id="customCursor" class="custom-cursor">SEND EMAIL</div>
  </div>
  <div class="line"></div>
  <div class="footer-socials">
    <div class="social-links">
      <a href="https://www.linkedin.com/in/sergio-allushaj-a92b9717a/">
        LINKEDIN
      </a>
      <a href="https://github.com/kuroiokami89"> GITHUB </a>
      <a href="assets/ALLUSHAJ SERGIO CV 2024.pdf"> DOWNLOAD.CV </a>
    </div>
  </div>
</footer>

<style>
  /* Custom tooltip style */
  .custom-cursor {
    position: absolute;
    background-color: white;
    color: black;
    padding: 5px 10px;
    border: 1px solid white;
    font-size: 1.15rem;
    white-space: nowrap;
    pointer-events: none;
    display: none;
    z-index: 1000;
  }
  /* 
  #emailLink:hover {
    cursor: none;
  } */
</style>

<script>
  const link = document.getElementById("emailLink");
  const customCursor = document.getElementById("customCursor");

  link.addEventListener("mouseover", () => {
    customCursor.style.display = "block";
  });

  link.addEventListener("mousemove", (e) => {
    // Adjust the position relative to the parent element
    const rect = link.getBoundingClientRect();
    customCursor.style.left = e.clientX - rect.left + "px";
    customCursor.style.top = e.clientY - rect.top + "px";
  });

  link.addEventListener("mouseout", () => {
    customCursor.style.display = "none";
  });
</script>
