<div id="projects" class="blocco" data-aos="fade-up">
  <div class="section-title">
    <h2>PROJECTS</h2>
  </div>
  <div class="project-container">
    <div class="project-list-left">
      <div class="project" data-aos="fade-up">
        <div
          class="project-img"
          style="background-image: url('pics/vanta.gif')"
        ></div>
        <div class="project-text">
          <span>Portfolio Website</span>
          <h3>Vantablack portfolio</h3>
          <a
            class="link"
            href="https://kuroiokami89.github.io/Vantablack-Portfolio-2.0/"
            ><i class="fa-solid fa-caret-right"></i> Visit the website</a
          >
        </div>
      </div>
      <div class="project" data-aos="fade-up">
        <div
          class="project-img"
          style="background-image: url('pics/23-min.jpg')"
        ></div>
        <div class="project-text">
          <span>Photo Gallery</span>
          <h3>Artsense gallery v1.0</h3>
          <a class="link" href="https://llvs9g-8080.csb.app/"
            ><i class="fa-solid fa-caret-right"></i> Visit the website</a
          >
        </div>
      </div>
    </div>
    <div class="project-list-right">
      <div class="project" data-aos="fade-up">
        <div
          class="project-img"
          style="background-image: url('pics/kronos.jpg')"
        ></div>
        <div class="project-text">
          <span>Figma Project</span>
          <h3>kronos luxury watch e-shop</h3>
          <a
            class="link"
            href="https://www.figma.com/design/AIxk93Bhw0tdkwpQ5MFVQS/Ecommerce---Kronos?node-id=0-1&t=Gla0ppj60NeuBXXi-1"
            ><i class="fa-solid fa-caret-right"></i> Visit the project</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
