<div id="projects" class="blocco" data-aos="fade-up">
  <h2>projects</h2>
  <div class="project-container">
    <div class="project-list-left">
      <div class="project" data-aos="fade-up">
        <div
          class="project-img"
          style="background-image: url('pics/23-min.jpg')"
        ></div>
        <div class="project-text">
          <h3>Artsense gallery v1.0</h3>
          <a class="link" href="https://llvs9g-8080.csb.app/"
            ><i class="fa-solid fa-caret-right"></i> Visit the website</a
          >
        </div>
      </div>
      <div class="project" data-aos="fade-up">
        <div
          class="project-img"
          style="background-image: url('pics/vanta.gif')"
        ></div>
        <div class="project-text">
          <h3>Vantablack portfolio</h3>
          <a class="link" href="https://4lr944-8080.csb.app/"
            ><i class="fa-solid fa-caret-right"></i> Visit the website</a
          >
        </div>
      </div>
    </div>
    <div class="project-list-right">
      <div class="project" data-aos="fade-up">
        <div
          class="project-img"
          style="background-image: url('pics/38-min.jpg')"
        ></div>
        <div class="project-text">
          <h3>Artsense gallery</h3>
          <a class="link" href="https://z6xfy2-8080.csb.app/"
            ><i class="fa-solid fa-caret-right"></i> Visit the website</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"
></script>
<script>
  $(document).ready(function () {});
</script>
