<div id="skills" class="blocco">
  <div class="skills-text" data-aos="fade-up">
    <h2>skills</h2>
    <p>
      I specialize in front-end development with expertise in HTML, CSS,
      JavaScript and Next js. My focus is on creating beautiful and functional
      websites with a modern look and excellent user experience.
    </p>
  </div>
  <div class="tech-list">
    <i class="fa-brands fa-html5" data-aos="fade-up"></i>
    <i class="fa-brands fa-css3" data-aos="fade-up"></i>
    <i class="fa-brands fa-figma"></i>
    <i class="fa-brands fa-react" data-aos="fade-up"></i>
    <i class="fa-brands fa-js" data-aos="fade-up"></i>
    <i class="fa-brands fa-bootstrap" data-aos="fade-up"></i>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"
></script>
<script>
  $(document).ready(function () {});
</script>
