<div id="skills" class="blocco">
  <div class="skills-text" data-aos="fade-up">
    <h2>skills</h2>
    <p>The main area of expertise is front end development.</p>
    <p>
      HTML, CSS, JAVASCRIPT, building small and medium web applications with
      React.
    </p>
  </div>
  <div class="tech-list">
    <i class="fa-brands fa-html5" data-aos="fade-up"></i>
    <i class="fa-brands fa-css3" data-aos="fade-up"></i>
    <i class="fa-brands fa-react" data-aos="fade-up"></i>
    <i class="fa-brands fa-js" data-aos="fade-up"></i>
    <i class="fa-brands fa-bootstrap" data-aos="fade-up"></i>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"
></script>
<script>
  $(document).ready(function () {});
</script>
