<div id="work" class="blocco" data-aos="fade-up">
  <h2>my work exp</h2>
  <div class="work-list">
    <div class="work-exp">
      <div class="square"></div>
      <time datetime="2021-12-22T14:30">2021/12/21 - 2022/08/22</time>
      <h3>customer service - storeden (tv)</h3>
      <p>
        Assistenza tecnica dedicata ai clienti: Fornire supporto tecnico in caso
        di bug nella piattaforma e-commerce Storeden o nel sito web. Modifiche
        ai siti web: Utilizzo di JavaScript, HTML, CSS, Twig e Bootstrap.
      </p>
    </div>
    <div class="work-exp">
      <div class="square"></div>
      <time datetime="2021-12-22T14:30">2021/12/21 - 2022/08/22</time>
      <h3>junior back-end dev - esosphera (rs)</h3>
      <p>
        Sviluppo applicazioni Web usando Php (object oriented programming) con
        framework Yii2, database relazionali e Psql.
      </p>
    </div>
    <div class="work-exp">
      <div class="square"></div>
      <time datetime="2021-12-22T14:30">2021/12/21 - 2022/08/22</time>
      <h3>web developer junior - W-easy</h3>
      <p>
        Sviluppo e manutenzione di siti web e servizi gestionali per aziende:
        Utilizzo delle seguenti tecnologie: JavaScript, HTML, CSS e PHP.
      </p>
    </div>
  </div>
  <a
    id="cvBtn"
    href="assets/CV ALLUSHAJ SERGIO 2024.pdf"
    download="CV Allushaj Sergio.pdf"
    >DOWNLOAD CV</a
  >
</div>
