<div id="work" class="blocco" data-aos="fade-up">
  <h2>my education</h2>
  <div id="education-list" class="work-list">
    <div class="work-exp">
      <div class="square"></div>
      <time datetime="2021-12-22T14:30">2013/09/13 - 2018/07/10</time>
      <h3>
        diploma: audiovisual productions - industry and craftsmanship sector
        ipsia galileo galilei
      </h3>
      <p>
        I studied photography both technically and theoretically, learning the
        photographic language through cinema, art, and history. My training
        included professional videomaking, covering audio, video, and software
        equipment for diverse productions such as interviews, commercials,
        sports events, shows, and documentaries.
      </p>
    </div>
    <div class="work-exp">
      <div class="square"></div>
      <time datetime="2021-12-22T14:30">2024/05/15 - ongoing</time>
      <h3>web development and design course</h3>
      <h4>accademia delle professioni, padova, italy</h4>
      <p>
        Currently studying HTML5, CSS4, JavaScript, and jQuery for front-end
        development and using Figma to study responsive and user-friendly
        principles for web application prothotipying. Utilizing Photoshop,
        Illustrator and After Effects for design and animation tasks like
        personalized logos, icons and creation of video motions.
      </p>
    </div>
  </div>
  <h2>my work experience</h2>
  <div class="work-list">
    <div class="work-exp">
      <div class="square"></div>
      <time datetime="2021-12-22T14:30">2021/12/21 - 2022/08/22</time>
      <h3>customer service - storeden (tv)</h3>
      <p>
        Dedicated technical assistance to customers in case of bugs on the
        Storeden e-commerce platform or on the website. Performed front-end
        customizations of websites using JavaScript, HTML, CSS, Twig, and
        Bootstrap.
      </p>
    </div>
    <div class="work-exp">
      <div class="square"></div>
      <time datetime="2021-12-22T14:30">2021/12/21 - 2022/08/22</time>
      <h3>junior back-end developer - esosphera (rs)</h3>
      <p>
        Developed web applications with a focus on object-oriented programming
        using Yii2 as the main framework, and used Psql for relational
        databases.
      </p>
    </div>
    <div class="work-exp">
      <div class="square"></div>
      <time datetime="2021-12-22T14:30">2021/12/21 - 2022/08/22</time>
      <h3>junior full-stack developer - W-easy</h3>
      <p>
        Development and maintenance of websites and management services for
        companies using the following technologies: JavaScript HTML CSS and PHP.
      </p>
    </div>
  </div>
  <a
    id="cvBtn"
    href="assets/ALLUSHAJ SERGIO CV 2024.pdf"
    download="CV Allushaj Sergio.pdf"
    >DOWNLOAD CV</a
  >
</div>
