<div id="work" class="blocco" data-aos="fade-up">
  <h2>my education</h2>
  <div id="education-list" class="work-list">
    <div class="work-exp">
      <div class="square"></div>
      <time datetime="2021-12-22T14:30">2013/09/13 - 2018/07/10</time>
      <h3>
        diploma: audiovisual productions - industry and craftsmanship sector
        ipsia galileo galilei
      </h3>
      <ul>
        <li><p>Technical and theoretical study of photography</p></li>
        <li>
          <p>
            Knowledge of photographic language through the study of the history
            of cinema, art, and the advertising world, in order to obtain a wide
            range of skills that can cover all fields related to the audiovisual
            world.
          </p>
        </li>
        <li><p>Professional training in videomaking</p></li>
        <li>
          <p>
            Training in the use of professional audio, video, and software
            equipment intended for various types of audiovisual productions
            (interviews, commercial videos, sports events, graphics, shows,
            mini-documentaries, videos dedicated to urban and natural
            landscapes)
          </p>
        </li>
        <li>
          <p>
            Use of 3D printers and scanners dedicated to 3D scanning as part of
            extracurricular activities
          </p>
        </li>
      </ul>
    </div>
    <div class="work-exp">
      <div class="square"></div>
      <time datetime="2021-12-22T14:30">2024/05/15 - ongoing</time>
      <h3>web development and design course</h3>
      <h4>accademia delle professioni, padova, italy</h4>
      <ul>
        <li><p>Proficiency in HTML 5, CSS3, Sass, and Javascript.</p></li>
        <li><p>Integration of JQUERY programming technology.</p></li>
        <li>
          <p>
            Application of Bootstrap fundamentals in the creation of websites
            and web applications.
          </p>
        </li>
        <li>
          <p>
            Site development from scratch, adhering to RESPONSIVE principles
            with a focus on usability and accessibility.
          </p>
        </li>
        <li><p>SEO and SEM application for site indexing promotion.</p></li>
        <li>
          <p>Prototyping of interactive digital interfaces using FIGMA.</p>
        </li>
        <li>
          <p>
            Utilization of PHOTOSHOP, ILLUSTRATOR, and INDESIGN for various
            design tasks.
          </p>
        </li>
        <li>
          <p>Animation and visual effects creation with AFTER EFFECTS.</p>
        </li>
        <li><p>DEM or newsletter creation.</p></li>
        <li><p>WORDPRESS usage for website development and management.</p></li>
      </ul>
    </div>
  </div>
  <h2>my work experience</h2>
  <div class="work-list">
    <div class="work-exp">
      <div class="square"></div>
      <time datetime="2021-12-22T14:30">2021/12/21 - 2022/08/22</time>
      <h3>customer service - storeden (tv)</h3>
      <p>
        Assistenza tecnica dedicata ai clienti: Fornire supporto tecnico in caso
        di bug nella piattaforma e-commerce Storeden o nel sito web. Modifiche
        ai siti web: Utilizzo di JavaScript, HTML, CSS, Twig e Bootstrap.
      </p>
    </div>
    <div class="work-exp">
      <div class="square"></div>
      <time datetime="2021-12-22T14:30">2021/12/21 - 2022/08/22</time>
      <h3>junior back-end dev - esosphera (rs)</h3>
      <p>
        Sviluppo applicazioni Web usando Php (object oriented programming) con
        framework Yii2, database relazionali e Psql.
      </p>
    </div>
    <div class="work-exp">
      <div class="square"></div>
      <time datetime="2021-12-22T14:30">2021/12/21 - 2022/08/22</time>
      <h3>web developer junior - W-easy</h3>
      <p>
        Sviluppo e manutenzione di siti web e servizi gestionali per aziende:
        Utilizzo delle seguenti tecnologie: JavaScript, HTML, CSS e PHP.
      </p>
    </div>
  </div>
  <a
    id="cvBtn"
    href="assets/CV-ENG-WEB-NEW2.pdf"
    download="CV Allushaj Sergio.pdf"
    >DOWNLOAD CV</a
  >
</div>
