<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <link rel="icon" type="image/x-icon" href="pics/vb.ico" />
    <title>VantaBlack Portfolio</title>
  </head>
  <body>
    <div id="video-container">
      <video autoplay muted onended="endVideo()">
        <source src="assets/Title.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>

    <div id="content-container">
      {% include header.html %} {% include skeleton.html %} {% include
      footer.html %}
    </div>

    <script>
      // Function to hide video after it ends and show content
      function endVideo() {
        var videoContainer = document.getElementById("video-container");
        videoContainer.style.display = "none"; // Hide video container
        var contentContainer = document.getElementById("content-container");
        contentContainer.style.opacity = "1"; // Make content visible
      }
    </script>
  </body>
</html>
